/* HTML and Body styles */
html {
   background-color: gray;
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   font-family: Verdana, Geneva, sans-serif;
}

   body {
   background-color: rgb(192,192,192);
   box-shadow: rgb(51, 51, 51) 20px 0px 40px,  rgb(51, 51, 51) -20px 0px 40px,
               inset rgb(51, 21, 21) 0px 0px 40px;
   border-left: 3px solid rgb(51, 51, 51);
   border-right: 3px solid rgb(51, 51, 51);
   min-height: 100%;  
   margin: 0px auto;
   min-width: 320px;
   max-width: 1020px;  
   width: 100%;
}

/* Header styles */

body > header {
   border-bottom: 10px solid rgb(70,130,180);
   color: white;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap; 
   -webkit-align-items: flex-end;
   align-items: flex-end; 
   margin-bottom: 30px;
   width: 100%;
}


body > header > img {
   display: block;
   -webkit-flex: 0 1 200px;
   flex: 0 1 200px;
}

/* Title style */
.title {
	color: rgb(128,0,0);
	font-size: 50px;
	text-align: center;
	text-decoration: underline;
	line-height: 2;
}

/* Paragraph styles */
 p {
	line-height: 2;
	font-size: 50px;
	text-align: center;
}

/* Heading 2 styles */
h2 {
	color: black;
	text-decoration: bold;
	text-align:center;
	font-size: 30px;
	 -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255,140,0);
	text-indent: 25px;	
}