/* HTML and Body styles */
html {
   background-color: gray;
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   font-family: Verdana, Geneva, sans-serif;
}

   body {
   background-color: rgb(192,192,192);
   box-shadow: rgb(51, 51, 51) 20px 0px 40px,  rgb(51, 51, 51) -20px 0px 40px,
               inset rgb(51, 21, 21) 0px 0px 40px;
   border-left: 3px solid rgb(51, 51, 51);
   border-right: 3px solid rgb(51, 51, 51);
   min-height: 100%;  
   margin: 0px auto;
   min-width: 320px;
   max-width: 1020px;  
   width: 100%;
}

/* Header styles */

body > header {
   border-bottom: 10px solid rgb(70,130,180);
   color: white;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap; 
   -webkit-align-items: flex-end;
   align-items: flex-end; 
   margin-bottom: 30px;
   width: 100%;
}


body > header > img {
   display: block;
   -webkit-flex: 0 1 200px;
   flex: 0 1 200px;
}


/* Navigation list */
body > header > nav {
   -webkit-flex: 1 1 441px;
   flex: 1 1 441px;
}

body > header > nav > ul {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row nowrap;
   flex-flow: row nowrap;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

body > header > nav > ul li {
   -webkit-flex: 0 1 auto;
   flex: 0 1 auto;
}

body > header > nav > ul > li {
  font-size: 1.2em; 
   line-height: 1.2em; 
   height: 1.2em;
   padding: 50px 10px;
}

body > header > nav > ul > li > a {
   color: white;
   display: block;
   width: 100%;
   text-align:center;
}

header nav ul li {
   font-size: 1.2em; 
   line-height: 2.3em; 
   height: 2.3em;
   padding: 0px 10px;
}

header nav ul li a {
   color: white;
   display: block;
   width: 100%;
}

header nav ul li a:hover {
   color: rgb(30,144,255);
}

a#navicon {
   display: none;
}

/* Line Break */
.break {
  white-space: pre-wrap;
}

/* Section */
section {
   margin: 30px 3%;
}

/* Title style */
.title {
	color: rgb(128,0,0);
	font-size: 50px;
	text-align: center;
	text-decoration: underline;
	line-height: 2;
}

/* Heading 2 styles */
h2 {
	color: white;
	text-decoration: bold;
	
	font-size: 30px;
	 -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255,140,0);
	text-indent: 25px;	
}

/* Paragraph styles */
 p {
	line-height: 2;
}


/* Make images the same size and center */
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	width: 250px;
	padding: 15px;
}

/* Footer styles */   
footer {
   color: white;    
   background: linear-gradient(to bottom, rgb(70,130,180), black);   
   -moz-column-width: 500px;
   -webkit-column-width: 500px;
    column-width: 500px;

   -moz-column-gap: 25px;
   -webkit-column-gap: 25px;
    column-gap: 25px;
    
    padding: 20px 40px;
}

footer h1 {
   color: rgb(255, 241, 147);   
   font-size: 1em;
   margin: 10px 0px;
}

footer h1:first-of-type {
   margin-top: 0px;
   text-decoration: none;
}

footer a {
   display: block;
   color: white;
   text-decoration: none;
   font-size: 0.9em;
}

footer a:hover {
   text-decoration: underline;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}